body{
	font-family: 'Montserrat',sans-serif;
	background: center/cover #000 url(../images/how-to-make-burger-patties-like-restaurant.jpg) no-repeat;
	height: 100%;
	width: 100vw;
	box-sizing: border-box;
}


header{
	font-family: 'Ubuntu',sans-serif;
	font-weight: 600;
}


#site-head{
	background-color: #00000095;
}
#site-head:hover, #site-head:focus, #site-head:active {
	background-color: #00000060;
	transition: 0.3s ease-in-out;
}
#brand-name{
	font-size: 2rem;
}


#main-head {
    color: #ffffff;
    font-weight: 200;
    font-size: 2rem;
}

.main-text {
    background-color: #00000075;
    color: #ffffff;
    font-weight: 100;
    height: 100%;
    line-height: 1.75;
}
.main-text:hover, .main-text:focus, .main-text:active {
    background-color: #00000050;
    color: #ffffff;
    font-weight: 100;
    transition: 0.3s ease-in-out;
}